@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "查看列表";
}

<div style="margin-top: 1em;">
    <div>
        <h2 class="d-inline align-middle">@ViewBag.Title.</h2>

        <form class="form-inline float-right">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>


</div>


<hr />

<div class="container">




    <div class="card-columns">
        <div class="card border-danger" style="padding: 20px;">
            
            <h5 class="card-header text-center text-light bg-dark"> Unity HW <span class="badge badge-pill badge-danger">New!!</span>  </h5>
            <img class="card-img img-thumbnail" src="https://i.imgur.com/ewROliO.png" alt="Card image cap">
            <div style="display: flex; align-items: center; justify-content: center; flex-wrap: wrap;">
                <table class="table bg-light">
                    <thead>
                        <tr>
                            <th> 
                                <span class="h6 align-middle text-dark font-weight-bold">點擊</span>
                                <span class="badge badge-pill badge-dark align-middle">100</span> 
                            </th>
                            <th>
                                <span class="h6 align-middle text-dark font-weight-bold">讚數</span>
                                <span class="badge badge-pill badge-dark align-middle">100</span> 
                            </th>
                            <th>
                                <span class="h6 align-middle text-dark font-weight-bold">評論</span>
                                <span class="badge badge-pill badge-dark align-middle">100</span> 
                            </th>
                        </tr>
                    </thead>
                </table>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-success"> 點讚 </button>
                    <button type="button" class="btn btn-success"> 檢舉 </button>
                    <button type="button" class="btn btn-success"> 查看 </button>
                </div>
            </div>
        </div>
        
        @{
            Random rand = new Random();

            for (int i = 0; i < rand.Next(10, 20); ++i)
            {
                <div class="card" style="padding: 20px;">
                    <h5 class="card-header text-center text-light bg-dark">Unity HW</h5>
                    <img class="card-img img-thumbnail" src="https://d2ujflorbtfzji.cloudfront.net/key-image/23ea211c-14b4-41c8-8af1-5e1658a90fa2.jpg" alt="Card image cap">
                    <div style="display: flex; align-items: center; justify-content: center; flex-wrap: wrap;">
                        <table class="table bg-light">
                            <thead>
                                <tr>
                                    <th>
                                        <span class="h6 align-middle text-dark font-weight-bold">點擊</span>
                                        <span class="badge badge-pill badge-dark align-middle">100</span>
                                    </th>
                                    <th>
                                        <span class="h6 align-middle text-dark font-weight-bold">讚數</span>
                                        <span class="badge badge-pill badge-dark align-middle">100</span>
                                    </th>
                                    <th>
                                        <span class="h6 align-middle text-dark font-weight-bold">評論</span>
                                        <span class="badge badge-pill badge-dark align-middle">100</span>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-success"> 點讚 </button>
                            <button type="button" class="btn btn-success"> 檢舉 </button>
                            <button type="button" class="btn btn-success"> 查看 </button>
                        </div>
                    </div>
                </div>
            }
        }



    </div>
</div>

<style>
</style>