@using HomeworkPlatform.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "查看列表";

    var database = new HomeworkDataBase();
    database.accessHomeworkDataBase();
    var homewrok_list = database.getAllHomework();

}




<div class="col-12" style="display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 1em;">
    <h2 class="d-block">@ViewBag.Title.</h2>
    <form class="d-block">
        <input class="form-control d-inline" style="width: 66%; margin-right: 1em;" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    
</div>
<hr />





<div class="container">
    <div class="card-columns">
        @foreach (var data in homewrok_list)
        {
            <div class="card" style="padding: 20px;">
                <h5 class="card-header text-center text-light bg-dark">Unity HW</h5>
                <img class="card-img img-thumbnail" src="https://d2ujflorbtfzji.cloudfront.net/key-image/23ea211c-14b4-41c8-8af1-5e1658a90fa2.jpg" alt="Card image cap">
                <div style="display: flex; align-items: center; justify-content: center; flex-wrap: wrap;">
                    <table class="table bg-light">
                        <thead>
                            <tr>
                                <th>
                                    <span class="h6 align-middle text-dark font-weight-bold">點擊</span>
                                    <span class="badge badge-pill badge-dark align-middle">100</span>
                                </th>
                                <th>
                                    <span class="h6 align-middle text-dark font-weight-bold">讚數</span>
                                    <span class="badge badge-pill badge-dark align-middle">100</span>
                                </th>
                                <th>
                                    <span class="h6 align-middle text-dark font-weight-bold">評論</span>
                                    <span class="badge badge-pill badge-dark align-middle">100</span>
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <button type="button" class="btn btn-success w-100"> 查看 </button>
                </div>
            </div>
        }

        @{ 
            /*
<div class="card border-danger" style="padding: 20px;">

            <h5 class="card-header text-center text-light bg-dark"> Unity HW <span class="badge badge-pill badge-danger">New!!</span>  </h5>
            <img class="card-img img-thumbnail" src="https://i.imgur.com/ewROliO.png" alt="Card image cap">
            <div style="display: flex; align-items: center; justify-content: center; flex-wrap: wrap;">
                <table class="table bg-light">
                    <thead>
                        <tr>
                            <th>
                                <span class="h6 align-middle text-dark font-weight-bold">點擊</span>
                                <span class="badge badge-pill badge-dark align-middle">100</span>
                            </th>
                            <th>
                                <span class="h6 align-middle text-dark font-weight-bold">讚數</span>
                                <span class="badge badge-pill badge-dark align-middle">100</span>
                            </th>
                            <th>
                                <span class="h6 align-middle text-dark font-weight-bold">評論</span>
                                <span class="badge badge-pill badge-dark align-middle">100</span>
                            </th>
                        </tr>
                    </thead>
                </table>
                <button type="button" class="btn btn-success w-100"> 查看 </button>
            </div>
        </div>

        @{
            Random rand = new Random();

            for (int i = 0; i < rand.Next(10, 20); ++i)
            {
                <div class="card" style="padding: 20px;">
                    <h5 class="card-header text-center text-light bg-dark">Unity HW</h5>
                    <img class="card-img img-thumbnail" src="https://d2ujflorbtfzji.cloudfront.net/key-image/23ea211c-14b4-41c8-8af1-5e1658a90fa2.jpg" alt="Card image cap">
                    <div style="display: flex; align-items: center; justify-content: center; flex-wrap: wrap;">
                        <table class="table bg-light">
                            <thead>
                                <tr>
                                    <th>
                                        <span class="h6 align-middle text-dark font-weight-bold">點擊</span>
                                        <span class="badge badge-pill badge-dark align-middle">100</span>
                                    </th>
                                    <th>
                                        <span class="h6 align-middle text-dark font-weight-bold">讚數</span>
                                        <span class="badge badge-pill badge-dark align-middle">100</span>
                                    </th>
                                    <th>
                                        <span class="h6 align-middle text-dark font-weight-bold">評論</span>
                                        <span class="badge badge-pill badge-dark align-middle">100</span>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                        <button type="button" class="btn btn-success w-100"> 查看 </button>
                    </div>
                </div>
            }
        }
             */
        }
        



    </div>
</div>

<style>
</style>