@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top: 1em;"> C# 期末專題</h2>

<hr/>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                Uploader : 109/資訊 黃俊豪 <span class="badge badge-dark"> 1000 kb </span>
            </div>
            <div class="card-body">
                <h5 class="card-title">作業平台 Homework-Platform</h5><time> 2018/06/17 20:15:12 </time>
                <p class="card-text">這裡放作業平台的說明這裡放作業平台的說明這裡放作業平台的說明</p>
                <a href="#" class="btn btn-primary float-right w-100">查看</a>
            </div>

        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                Uploader : 109/資訊 邱百纓 <span class="badge badge-dark"> 1000 kb </span>
            </div>
            <div class="card-body">
                <h5 class="card-title">作業平台 Homework-Platform</h5><time> 2018/06/17 20:15:12 </time>
                <p class="card-text">這裡放作業平台的說明這裡放作業平台的說明這裡放作業平台的說明</p>
                <a href="#" class="btn btn-primary float-right w-100">查看</a>
            </div>

        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                Uploader : 109/資訊 陳軒翊 <span class="badge badge-dark"> 1000 kb </span>
            </div>
            <div class="card-body">
                <h5 class="card-title">密室逃脫</h5><time> 2018/06/17 20:15:12 </time>
                <p class="card-text">這裡放密室逃脫的說明這裡放密室逃脫的說明這裡放密室逃脫的說明</p>
                <a href="#" class="btn btn-primary float-right w-100">查看</a>
            </div>

        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                Uploader : 109/資訊 陳偉志 <span class="badge badge-dark"> 1000 kb </span>
            </div>
            <div class="card-body">
                <h5 class="card-title">密室逃脫</h5><time> 2018/06/17 20:15:12 </time>
                <p class="card-text">這裡放密室逃脫的說明這裡放密室逃脫的說明這裡放密室逃脫的說明</p>
                <a href="#" class="btn btn-primary float-right w-100">查看</a>
            </div>

        </div>
    </div>

</div>

