@using Microsoft.AspNet.Identity
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
        </li>
        <li>
            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">登出</a>
        </li>
    </ul>
    }
}
else
{

    <ul class="navbar-nav navbar-right">
        <li class="nav-item">@Html.ActionLink("註冊", "Register", "Account", null, new { @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("登入", "Login", "Account", null, new { @class = "nav-link" })</li>
    </ul>
}
